*.suo
*.user
*.datasource
*.Publish.xml
*.png
*.dotcover

obj
bin
Bin
ClientBin
GeneratedCode
Service References
WCFNHibernate
*UnitOfWork*
GenericTransaction
_ReSharper*
elearn.suo
App_Readme
Adminica
packages