<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--Redis Settings-->
    <add key="UseLocalRedis" value="true" />
    <add key="RedisLocalHost" value="localhost:6379" />
    <add key="RedisExternalHost" value="fish.redistogo.com:9261" />
    <add key="ExternalRedisPassword" value="b4e641f05d9160d2e508e21d41359d4e" />
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="SilverlightBoids.Web.Services.LoggingService.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="SilverlightBoids.Web.Services.RedisDalService.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="SilverlightBoids.Web.Services.LoggingService">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightBoids.Web.Services.LoggingService.customBinding0"
                    contract="SilverlightBoids.Web.Services.LoggingService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SilverlightBoids.Web.Services.RedisDalService">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightBoids.Web.Services.RedisDalService.customBinding0"
                    contract="SilverlightBoids.Web.Services.RedisDalService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
